<!DOCTYPE html>
<html>
    <head>
        <h>Node js</h>
    </head>
    <body>
        <h2>hello santhana krishna</h2> 
        <h3>Welcome to the profile : <%= person %></h3>
        <p><strong>Name:  </strong><%= data.name %></p>
        <p><strong>Age:  </strong><%= data.age %></p>
        <p><strong>Job:  </strong><%= data.job %></p>
        <h2>Hobbies</h2>
        <ul>
            <% data.tasks.forEach((item)=>{%>
                <li><%= item %></li>
            <%});%>
        </ul>

    </body>
</html>